// This file is part of Totara LMS
//
// This program is free software; you can redistribute it and/or modify
// it under the terms of the GNU General Public License as published by
// the Free Software Foundation; either version 3 of the License, or
// (at your option) any later version.
//
// This program is distributed in the hope that it will be useful,
// but WITHOUT ANY WARRANTY; without even the implied warranty of
// MERCHANTABILITY or FITNESS FOR A PARTICULAR PURPOSE.  See the
// GNU General Public License for more details.
//
// You should have received a copy of the GNU General Public License
// along with this program.  If not, see <http://www.gnu.org/licenses/>.
//
// @package   theme_roots
// @license   http://www.gnu.org/copyleft/gpl.html GNU GPL v3 or later
// @copyright 2015 Bas Brands <www.sonsbeekmedia.nl>
// @author    Bas Brands
// @author    David Scotson
// @author    Joby Harding <joby.harding@totaralearning.com>

/* modules.less */

// The home for small tweaks to modules that don't require
// changes drastic enough to pull in the full module css
// and replace it completely
// Plus some misc. odds and ends

select {
    width: auto;
}

// Forum

.path-mod-forum .forumheaderlist,
.path-mod-forum .forumheaderlist td {
    border: none;
}

.path-mod-forum {
    .activesetting {
        font-weight: bold;
    }
}

.path-mod-forum .forumheaderlist {
    thead .header {
        white-space: normal;
        vertical-align: top;
    }
    thead .header.lastpost {
        text-align: right;
    }
    .discussion {
        .author,
        .replies,
        .lastpost {
            white-space: normal;
        }
        .replies {
            text-align: center;
        }
        .topic,
        .topic.starter,
        .author,
        .replies,
        .lastpost {
            vertical-align: top;
        }

        .picture {
            float: left;
            margin-right: @padding-small-horizontal;
        }
    }
}

.path-mod-feedback .feedback_bar_image { // MDL-46063
    height: 5px; // we should remove the bar height specification in core
}

.forumpost {
    &:extend(.panel);
    &:extend(.panel-default);
    padding: 6px;
    .header {
        margin-bottom: 3px;
    }
    .maincontent {
        .left {
            padding: 0 10px 0 10px;
        }
    }
}

.forumpost .row .left {
    width: auto;
}

.forumpost .options .commands {
    margin-left: 0;
}

.forumpost .subject {
    font-weight: bold;
}

// Override hardcoded forum modules styling
/*stylelint-disable declaration-no-important*/
.forumsearch input[type=text] {
    margin-bottom: 0 !important;
}
/*stylelint-enable declaration-no-important*/

#page-mod-forum-discuss .discussioncontrol.displaymode {
    text-align: left;
}

#page-mod-forum-discuss .discussioncontrols .discussioncontrol {
    float: none;
    width: 100%;
    .singleselect {
        width: 100%;
        select.singleselect {
            .form-control;
        }
    }
    &.movediscussion {
        margin-top: 5px;
        select.urlselect {
            .form-control;
            width: auto;
            float: left;
        }
        input[type="submit"] {
            float: left;
        }
        &.movediscussion {
            float: left;
        }
    }
}

#page-footer {
    margin-top: 1em;
    padding: 1em 0;
    border-top: 2px solid @table-border-color;
}

.maincalendar .calendarmonth td,
.maincalendar .calendarmonth th {
    border: 1px dotted @table-border-color;
}

.path-grade-report-grader h1 {
    text-align: inherit;
}

#page-mod-chat-gui_basic input#message {
    max-width: 100%;
}

#page-mod-data-view #singleimage {
    width: auto;
}

.path-mod-data form {
    margin-top: 10px;
}

.path-mod-data table.mod-data-default-template {
    th,
    td {
        padding: 5px;
    }
}

.template_heading {
    margin-top: 10px;
}

.breadcrumb-button {
    float: right;
    margin-top: 4px;
}

.breadcrumb-button .singlebutton {
    float: left;
    margin-left: @totara_style-spacing_x_small;
}

.breadcrumb-button .singleselect {
    float: left;
    margin-left: @totara_style-spacing_x_small;

    .addtomenu option:last-child {
        font-style: italic;
    }
}

.navbar-inverse .logininfo a {
    color: @navbar-inverse-link-color;
}

.navbar-inverse .logininfo a:hover {
    background-color: @navbar-inverse-link-hover-bg; // "transparent" is default to differentiate :hover/:focus from .active
    color: @navbar-inverse-link-hover-color;
}

.navbar-fixed-top,
.navbar-fixed-bottom {
    z-index: 4030;
}

/*stylelint-disable declaration-no-important*/
@media (max-width: @grid-float-breakpoint) {
    .navbar-collapse.collapse,
    .navbar-collapse.collapsing {
        .nav {
            float: none !important;
        }
    }
}
/*stylelint-enable declaration-no-important*/

.langmenu form {
    margin: 0;
}

.container-fluid {
    max-width: 1680px;
    margin: 0 auto;
}

// contributed by Paul Hibbitts, see http://msdn.microsoft.com/en-us/library/ie/jj583807(v=vs.85).aspx
canvas {
    -ms-touch-action: auto;
}

div#dock {
    display: none;
}

// Choice.
.path-mod-choice {
    .horizontal .choices {
        margin: 0;
        .option {
            display: inline-block;
            padding: 10px;
        }
    }
    .results .data {
        white-space: normal;
    }

    .mod_choice__remove-choice-link {
        padding-left: @totara_style-spacing_medium;
    }
}

// Lesson.
.path-mod-lesson .firstpageoptions {
    margin: auto;
    min-width: 280px;
    width: 60%;
}

.path-mod-lesson .centerpadded {
    padding: 5px;
    text-align: center;
}

/** General styles (scope: all of lesson) **/
.path-mod-lesson .contents,
.path-mod-lesson .standardtable,
.path-mod-lesson .mform .box.contents,
.path-mod-lesson .invisiblefieldset.fieldsetfix tr {
    text-align: left;
}

#page-mod-lesson-view .branchbuttoncontainer .singlebutton input[type="submit"] {
    white-space: normal;
}

.path-mod-lesson #layout-table {
    width: 100%;
}

.path-mod-lesson .edit_buttons form,
.path-mod-lesson .edit_buttons input {
    display: inline;
}

.path-mod-lesson .userinfotable .cell,
.path-mod-lesson .userinfotable .userpicture {
    vertical-align: middle;
}

.path-mod-lesson .invisiblefieldset.fieldsetfix {
    display: block;
}

.path-mod-lesson .slideshow {
    overflow: auto;
    padding: 15px;
}

.path-mod-lesson .menu .menuwrapper {
    max-height: 400px;
    overflow: auto;
    vertical-align: top;
    margin-bottom: 10px;
}

.path-mod-lesson .menu ul {
    list-style: none;
    padding: 5px 0 0 5px;
    margin: 0;
}
.path-mod-lesson .menu ul li {
    padding-bottom: 5px;
}
.path-mod-lesson .skip {
    position: absolute;
    top: -1000em;
    width: 20em;
}
.path-mod-lesson .branchbuttoncontainer.horizontal div,
.path-mod-lesson .branchbuttoncontainer.horizontal form {
    display: inline;
}
.path-mod-lesson .firstpageoptions {
    width: 30%;
    margin-left: 35%;
    margin-top: 1em;
}
.path-mod-lesson .progress_bar_table,
.path-mod-lesson .progress_bar_completed,
.path-mod-lesson .progress_bar_todo {
    padding: 0;
    margin: 0;
}
.path-mod-lesson .progress_bar_token {
    height: 20px;
    width: 5px;
    padding: 0;
    margin: 0;
}
.path-mod-lesson .edit_pages_box .addlinks {
    margin: 0;
    margin-bottom: 1em;
}
.path-mod-lesson .progress_bar_completed {
    background-color: green;
    text-align: right;
    vertical-align: middle;
    color: #fff;
}

.path-mod-lesson .resourcecontent {
    text-align: center;
}

.path-mod-lesson .answeroption .fcheckbox > span {
    position: relative;
    float: left;
}

.path-mod-lesson .answeroption .fcheckbox input {
    position: absolute;
    top: 2px;
    margin-top: 0;
    left: 0;
}

.path-mod-lesson .answeroption .fcheckbox label {
    padding-left: 20px;
    float: left;
}

.path-mod-lesson .answeroption .felement label p:last-child {
    margin-bottom: 0;
}

.path-mod-lesson .answeroptiongroup .felement p {
    display: inline;
}

.mod_lesson__label,
.mod_lesson__labelcorrect {
    font-weight: bold;
}

.mod_lesson__student-answer {
    font-weight: bold;
}

.mod_lesson__student-response {
    margin-bottom: @totara_style-spacing_medium;
}

// Wiki
.path-mod-wiki .wiki_headingtitle,
.path-mod-wiki .midpad,
.path-mod-wiki .wiki_headingtime {
    text-align: inherit;
}

.path-mod-wiki .wiki_contentbox {
    width: 100%;
}

// Quiz.
.path-mod-quiz {
    .questioncontainer {
        input[type="text"] {
            height: 1.5em;
        }
    }
}

// Survey module
.path-mod-survey {
    .surveytable {
        .r1 {
            background-color: @table-bg-accent;
        }
        .rblock label {
            text-align: center;
        }
    }
    .resultgraph,
    .reportsummary,
    .studentreport,
    .reportbuttons,
    .centerpara {
        text-align: center;
    }
}

.path-mod-assign {
    .assignfeedback_editpdf_widget .pageheader button,
    .assignfeedback_editpdf_widget .pageheader select {
        display: inline-block;
        padding: 3px 7px;
        height: 28px;
        line-height: 24px;
    }
}

// End of original bootstrap theme code.
#page-mod-quiz-mod #id_reviewoptionshdr .fgroup legend {
    white-space: nowrap;
}

#page-mod-quiz-mod #id_reviewoptionshdr .fitem {
    width: auto;
    min-width: 25%;
}

.usermenu {
    .usertext {
        display: inline-block;
        text-align: right;
        vertical-align: middle;

        .meta {
            display: block;
        }
    }

    .avatars {
        vertical-align: middle;
    }
}

.userloggedinas .avatar.current {
    position: relative;
    top: 10px;
    left: 40px;
    margin-left: -23px;

    img {
        width: 20px;
        height: 20px;
    }
}

#page-admin-mod-facetoface-customfields .singleselect label {
    margin-right: @padding-small-horizontal;
}

// override '.label a' when viewing a label activity in a course
.modtype_label a {
    color: @link-color;
}