.totaraNav_prim {
  background-color: white;
  .container-fluid {
    color: black;
    background-color: white;
    padding-top: 10px;
    padding-bottom: 10px;
    .totaraNav_prim--side{
      color: black !important;
      .usertext {
        color: black !important;
      }
    }
  }
}

footer {
  display: none;
}

.modtype_scorm .activityinstance a:first-child,
a[title="Exit activity"] {
  display: inline-flex;
  padding: 0 20px;
  height: 54px;
  min-width: 186px;
  line-height: 52px;
  margin: 0;
  //font-family: @font-main;
  font-size: 14px;
  font-weight: 600;
  font-style: normal;
  font-stretch: normal;
  text-transform: uppercase;
  text-align: center;
  text-decoration: none;
  box-sizing: border-box;
  border: none;
  border-radius: 6px;
  background-color: rgba(134, 188, 37, 0.2);
  color: #86BC25 !important;
  cursor: pointer;
  transition: background-color 0.25s;
  align-items: center;

  &:hover {
    text-decoration: none;
    background-color: rgba(134, 188, 37, 0.8);
    color: #ffffff !important;
  }

  &:focus {
    text-decoration: none;
    background-color: rgba(134, 188, 37, 0.8);
    color: #ffffff !important;
  }

  &.selected {
    border: 2px solid rgba(134, 188, 37, 0.4);
    background-color: rgba(134, 188, 37, 0.2);
    color: #86BC25 !important;
  }

  &:disabled,
  &[disabled] {
    background-color: rgba(134, 188, 37, 0.1);
    color: #86BC25 !important;

    &:hover {
      background-color: rgba(134, 188, 37, 0.1);
      color: #86BC25 !important;
    }
  }
}

.header-black {
  color: #000000;
  margin-top: 20px;
  font-size: 60px;
  font-weight: bold;
  line-height: 60px;
  margin-bottom: 16px !important;
}

.deloitte-green {
 color: #86bc25;
}

.mod-indent-outer {
  display: flex;
  align-items: center;
  justify-content: center;
  div:nth-child(2){
    display: flex;
    flex-direction: column;
    align-items: center;
    justify-content: center;
    .contentafterlink{
      margin: 0 !important;
      .no-overflow p{
        text-align: center;
      }
    }
  }
}
#region-main{
  border-bottom: none !important;
}

.totaraNav_prim--side .popover-region .nav-link:hover{
  background: white;
  transform: scale(1.1);
}
.totaraNav_prim--side .usermenu .toggle-display:hover{
  background: white;
  transform: scale(1.1);
}